.blog-card {
    background-color: #fff;
    border-radius: 10px;
}

.blog-card img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.blog-content {
    padding: 15px;
}

.date {
    color: #777777;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
    padding: 0;
}
.title {
    font-size: 18px;
    color: #1c1b1b;
}

.desc {
    font-size: 13px;
    line-height: 22px;
    color: #777777;
}